/* About Page */

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    /* border-radius: 50%; */
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}