/* Home Info */

#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("../images/photo-1.jpg") no-repeat center center/cover;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    text-align: center;
    padding: 50px 20px;
}

#home-info .info-content p {
    padding-bottom: 20px;
}